*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* a{
    text-decoration: none;
} */

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #E4F4FD;
}
.site-header {
    width: 1008px;
    height: 606px;
    background-color: #fff;
    border-radius: 24px;
    display: flex;
}
.container {
    width: 424px;
}
.site-information {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    flex-direction: column;
    padding: 40px;
    border-radius: 26px 0px 0px 26px;
}

.your-results {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #133041;
    flex-direction: column;
    border-radius: 0px 24px 24px 80px;
}

.mort-all {
    width: 424px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.mort-text {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: font-size/text-preset-2;
    line-height: 30px;
    letter-spacing: 0%;
    color: #133041;
}
.mort-link {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: font-size/text-preset-4;
    line-height: 24px;
    letter-spacing: 0%;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: Auto;
    color: #4E6E7E;
    transition: 0.5s;
}
.mort-link:hover{
    color: #133041;
}


/* input */
.data-entry {
    margin-top: 20px;
}
.input-box {
    width: 424px;
    height: 48px;
    display: flex;
    
}

.mortgage {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: font-size/text-preset-4;
    line-height: 24px;
    letter-spacing: 0%;
    color: #4E6E7E;
}
.yevro {
    max-width: 44px;
    width: 100%;
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #4E6E7E;
    border: 2px solid #4E6E7E;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
    padding: 10px 16px;
    background: #E4F4FD;
    cursor: pointer;
}
.yevroHover {
    max-width: 44px;
    width: 100%;
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #4E6E7E;
    border: 2px solid #000000;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
    padding: 10px 16px;
    background: #E4F4FD;
    cursor: pointer;
}
.hoverData:focus{
    outline: none;
    border: 2px solid #D8DB2F; 
    border-left: none;
    padding-left: 15px;
    font-size: 18px;
    color: #133041;
}
.data-entry__input {
    width: 100%;
    height: 48px;
    border-radius: 0px 6px 6px 0px;
    border: 2px solid #4E6E7E;
    border-left: none;
    padding-left: 15px;
    font-size: 18px;
    color: #133041;
    cursor: pointer;
    font-weight: 600;
}
.data-entry__input:focus {
    outline: none;
    border: 2px solid #D8DB2F; /* Yoki istalgan rang */
    border-left: none;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #133041;
}


.hoverData {
    width: 100%;
    height: 48px;
    border-radius: 0px 6px 6px 0px;
    border: 2px solid #000000;
    border-left: none;
    padding-left: 15px;
    font-size: 18px;
    color: #133041;
    cursor: pointer;
}
/* yevroYellow focus*/

.yellowYevro{
    max-width: 44px;
    width: 100%;
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #000;
    border: 2px solid #D8DB2F;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
    padding: 10px 16px;
    background: #D8DB2F;
    cursor: pointer;
}



/* 2xinput */

.input2x {
    width: 424px;
    display: flex;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;   
    column-gap: 43px;
    margin-bottom: 20px;
}
.term-input {
  width: 200px; 
  display: flex; 
}
.term-input2 {
    width: 200px; 
    display: flex; 
  }
.fiy-year {
    width: 140px;
    height: 48px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #4E6E7E;
    border-right: none;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #133041;
    cursor: pointer;
    outline: none;
}
.stayleFiyYear {
    width: 140px;
    height: 48px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #000;
    border-right: none;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #133041;
    cursor: pointer;
    outline: none;
}
.fiy-year2 {
    width: 140px;
    height: 48px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #4E6E7E;
    border-right: none;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #133041;
    cursor: pointer;
    outline: none;
}


.fiyYearFocus {
    width: 140px;
    height: 48px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid #D8DB2F;
    border-right: none;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #133041;
    cursor: pointer;
}
.fiy-year__name{
   
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #4E6E7E;
    border: 2px solid #4E6E7E;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background: #E4F4FD;
    cursor: pointer;
}
.fiy-year__name2 {
   
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #4E6E7E;
    border: 2px solid #4E6E7E;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background: #E4F4FD;
    cursor: pointer;
}
.stayleJsName {
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #4E6E7E;
    border: 2px solid #000;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background: #E4F4FD;
    cursor: pointer;
}
.stayleJsFocus {
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #000;
    border: 2px solid #D8DB2F;
    border-left: none;
    border-radius: 0px 6px 6px 0px;
    padding-top: 11px;
    padding-bottom: 13px;
    padding-left: 10px;
    padding-right: 10px;
    background: #D8DB2F;
    cursor: pointer;
    
}



/* Repay-input */
.ment-only {
    
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.Repay-input {
    width: 424px;
    height: 48px;
    border: 2px solid #6B94A8;
    border-radius: 6px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 15px;
    cursor: pointer;
}
.Repay-input:hover {
    border: 2px solid #D8DB2F;
}
.Only-input {
    width: 424px;
    height: 48px;
    border: 2px solid #6B94A8;
    border-radius: 6px;
    display: flex;
    align-items: center;
    column-gap: 10px;
    padding-left: 15px;
    cursor: pointer;
}
.Only-input:hover {
    border: 2px solid #D8DB2F;
}
.Repayment-radi {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid #6B94A8;
    cursor: pointer;
    background: #D8DB2F;
}

.Repayment-text {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: font-size/text-preset-3;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #133041;
    cursor: pointer;
}
.Only-text {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: font-size/text-preset-3;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: #133041;
    cursor: pointer;
}
input[type="radio"] {
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #5a7684; /* Tashqi chegarasi (ko‘k) */
    border-radius: 50%;
    background-color: transparent; /* Ichki qismi shaffof */
    display: inline-block;
    position: relative;
}
  
input[type="radio"]:checked {
    border: 2px solid #d9d969; /* Sariq chegara */
    background-color: #fdfde6; /* Ichki fon rangi */
}

input[type="radio"]:checked::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: #d9d969; /* Ichki sariq nuqta */
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

fieldset {
    border: none;
}
.information-btn {
    width: 314px;
    height: 56px;
    padding-right: spacing/500;
    padding-left: spacing/500;
    gap: spacing/300;
    border-radius: 999px;
    background: #D8DB2F;
    border: none;
    margin-top: 40px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 18px;
    line-height: 22.5px;
    letter-spacing: 0%;
    text-align: center;
    transition: 0.5s;

}
.information-btn:hover {
    background: #ffff0060;
    color: #000000a4;
}



/* Error menu */

.entry-data__error {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: font-size/text-preset-5;
    line-height: 21px;
    letter-spacing: 0%;
    color: red;
    display: block;
    cursor: help;
    display: none;
}

.text-data__error {
    width: 100%;
    height: 48px;
    border-radius: 0px 6px 6px 0px;
    border: 2px solid red;
    border-left: none;
    padding-left: 15px;
    font-size: 18px;
    color: #133041;
    cursor: pointer;
    font-weight: 600;
}
.text-data__error:focus {
    outline: none;
    border: 2px solid red; /* Yoki istalgan rang */
    border-left: none;
    padding-left: 15px;
    font-size: 18px;
    font-weight: 600;
    color: #133041;
}
.yevro-data__error {
    max-width: 44px;
    width: 100%;
    height: 48px;
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: 19px;
    line-height: 22.5px;
    letter-spacing: 0%;
    color: white;
    border: 2px solid red;
    border-right: none;
    border-radius: 6px 0px 0px 6px;
    padding: 10px 16px;
    background: red;
    cursor: pointer;
}
.fiy-year__Error {
    width: 140px;
    height: 48px;
    border-radius: 6px 0px 0px 6px;
    border: 2px solid red;
    border-right: none;
    padding-left: 15px;
    font-weight: 700;
    font-size: 16px;
    color: #133041;
    cursor: pointer;
    outline: none;
}
.year__pErrorJs {
    display: none;
}
.fiy-year__pError {
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: font-size/text-preset-5;
    line-height: 21px;
    letter-spacing: 0%;
    color: red;
    cursor: help;
    display: block;
}



/* Repay-input */

.result-h1 {
    font-family: Plus Jakarta Sans;
    font-weight: 700;
    font-size: font-size/text-preset-2;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 15px;
}

.result-p1 {
    width: 370px;
    font-family: Plus Jakarta Sans;
    font-weight: 500;
    font-size: font-size/text-preset-4;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    color: #9ABED5;
}








/* your-results-2div */

